@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
html, body
{
    margin: 0;
    padding: 0; 
}

body 
{    
    background-image:url(../img/images.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  
}
h1
{
    font-family:'Slabo 27px';
    text-align: center;
    color:white;
    font-size: 46px;
    opacity: 0.7;
    margin-top: 30px;
}

.circle
{

        /*margin:30px;
        width: 400px;*/
        background: #FF0000;
       /* height: 100px;
        text-align: center;
        margin-left: 60px;*/
} 
.bleu{
    text-align: center;
    /*vertical-align: middle;*/
}
.jaune
{
    margin-bottom: 40px;
}
h2
{
    font-family:'Slabo 27px';
    text-align: center;
    color:white;
    font-size: 30px;
   
 }


li
{
    display: inline-block;
    margin-left: 102px;
    font-size: 18px;
    font-family:'Slabo 27px';
    text-align: center;
}

.vert
{
    margin-left: 150px;
}
.rouge
{
    background-color:#F6EFEF ;
    margin: auto;
    text-align: center;
}

a
{
    text-decoration: none;
    color:#2D49F3;
    font-weight: bold;
    font-size: 20px;
}

main 
{
     width: 60%;
     height: 52%;
     text-align: center;
     font-size: 18px;
     margin: auto;
    background-color:#ACABAB ;
    margin-top: 30px;
    opacity: 0.9;

       
}
.violet p
{
    font-size: 55px;
    color: white;
}
p
{
    margin-left: 30px;
    font-family:'Slabo 27px';
    color:#220234;
    font-size: 25px;

}

footer
{
    margin-left: 185px;
    margin-top: 70px;
    
}
.marron p
{
    text-align: center;
    color: white;
}
 
.red
{
    color:red;
}

.form-area
{
    padding: 10px 40px 60px;
    margin: 20px 0px 40px; 
}

.btn-primary
{
    float: right;

}

.vert p
{
    text-align: center;
    font-size: 38px;
    font-family:'Slabo 27px';
    font-weight: bold;  
}

@media screen and (max-width: 640px) {
  .jaune {
    width: 80%;
  }
}